<template>
  <v-container class="login fill-height">
    <v-row justify="center">
      <v-col lg="6" sm="8" xl="4">
        <span class="font-weight-black headline">Login </span>
        <v-text-field v-model="username" label="username"></v-text-field>
        <v-text-field
          v-model="password"
          label="password"
          type="password"
        ></v-text-field>
        <v-btn block color="primary" to="/dashboard">Login</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Login",
  data: () => ({
    username: undefined,
    password: undefined,
  }),
};
</script>
