<template>
  <div class="fill-height">
    <v-navigation-drawer v-model="drawer" app temporary>
      <v-divider></v-divider>
      <v-list dense nav>
        <v-list-item-group v-model="selectedItem">
          <v-list-item
            v-for="item in navItems"
            :key="item.title"
            :to="item.to"
            color="accent"
          >
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="primary" dark dense flat>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-spacer></v-spacer>
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-icon dark v-bind="attrs" v-on="on">mdi-account-circle</v-icon>
        </template>

        <v-list class="py-0" dense>
          <v-list-item to="/">
            <v-list-item-title>Logout</v-list-item-title>
            <v-list-item-icon>
              <v-icon dense>mdi-logout</v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-main class="fill-height">
      <v-container class="fill-height justify-center" fluid>
        <router-view></router-view>
      </v-container>
    </v-main>
  </div>
</template>

<script>
export default {
  name: "DashboardLayout",
  data: () => ({
    drawer: undefined,
    navItems: [
      {
        to: "/dashboard",
        title: "Dashboard",
        icon: "mdi-view-dashboard-variant",
      },
      { to: "/experiments", title: "Experiments", icon: "mdi-clipboard-list" },
      { to: "/toolbox", title: "Toolbox", icon: "mdi-toolbox" },
      { to: "/users", title: "Users", icon: "mdi-account-group" },
    ],
    selectedItem: undefined,
  }),
};
</script>
